.App {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .columns {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  
  .column {
    flex: 1;
    padding: 20px;
    border-radius: 5px;
  }
  
  h2 {
    margin-bottom: 10px;
    text-align: left;
  }